@font-face {
  font-family: AinoRegular;
  src: url('fonts/AinoRegular.otf');
}
@font-face {
  font-family: AinoHeadline;
  src: url('fonts/AinoHeadline.otf');
}
@font-face {
  font-family: AinoBold;
  src: url('fonts/AinoBold.otf');
}
* {
  box-sizing: border-box;
}
html {
  font-family: AinoRegular;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.header {
  background-color: #0000F0;
  height: 133px;
  position: sticky;
  top: 0;
  z-index: 9999;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 4rem;
  height: 100%;
}
.header__wrapper__logo {
  background-image: url('img/TDS-logo-2023.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 335px;
  height: 68px;
  margin-right: 4rem;
}
@media (max-width: 620px) {
  .header__wrapper__logo {
    width: 144px;
    height: 43px;
  }
}
.header__wrapper__right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header__wrapper__right__navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header__wrapper__right__navbar a {
  margin-right: 2.5rem;
}
.header__wrapper__right__navbar a:last-child {
  margin-right: 5rem;
}
@media (max-width: 1900px) {
  .header__wrapper__right__navbar a {
    margin-right: 1.5rem;
  }
  .header__wrapper__right__navbar a:last-child {
    margin-right: 4rem;
  }
}
@media (max-width: 1670px) {
  .header__wrapper__right__navbar {
    display: none;
  }
}
.header__wrapper__title {
  color: white;
  font-size: 40px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  text-align: center;
  margin-top: 40px;
}
@media (max-width: 768px) {
  .header__wrapper__title {
    display: none;
  }
}
.header__wrapper__burger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.header__wrapper__burger__line {
  height: 3px;
  width: 90px;
  background: white;
  margin-bottom: 11px;
}
.header__wrapper__burger__line:last-child {
  margin-bottom: 0;
}
@media (max-width: 620px) {
  .header__wrapper__burger__line {
    height: 2px;
    width: 60px;
  }
}
.header__wrapper__burgermenu {
  position: fixed;
  top: 0;
  right: 0;
  width: 800px;
  height: 100%;
  background-color: #323334;
  padding: 3rem 6rem;
  display: none;
}
.header__wrapper__burgermenu.show {
  display: initial;
}
@media (max-width: 820px) {
  .header__wrapper__burgermenu {
    width: 100%;
  }
}
.header__wrapper__burgermenu__top {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 6rem;
}
.header__wrapper__burgermenu__top a {
  height: 55px;
  width: 45px;
  margin-right: 2rem;
}
.header__wrapper__burgermenu__top a svg {
  height: 100%;
  width: 100%;
}
.header__wrapper__burgermenu__top a svg path {
  transition: 300ms;
}
.header__wrapper__burgermenu__top a:first-child svg path,
.header__wrapper__burgermenu__top a:nth-child(4) svg path {
  fill: white;
}
.header__wrapper__burgermenu__top a:first-child:hover svg path,
.header__wrapper__burgermenu__top a:nth-child(4):hover svg path {
  fill: #ffca9f;
}
.header__wrapper__burgermenu__top a:nth-child(2) svg path,
.header__wrapper__burgermenu__top a:nth-child(3) svg path {
  stroke: white;
}
.header__wrapper__burgermenu__top a:nth-child(2):hover svg path,
.header__wrapper__burgermenu__top a:nth-child(3):hover svg path {
  stroke: #ffca9f;
}
.header__wrapper__burgermenu__footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  bottom: 2rem;
  left: 6rem;
  width: 100%;
  flex-wrap: wrap;
}
.header__wrapper__burgermenu__footer svg {
  height: 60px;
  width: auto;
  transform-origin: center;
  margin-right: 3rem;
}
.header__wrapper__burgermenu__footer svg:last-child {
  margin-right: 0;
}
@media (max-width: 600px) {
  .header__wrapper__burgermenu__footer {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .header__wrapper__burgermenu__footer svg {
    height: 70px;
    margin: 0;
    margin-bottom: 2rem;
  }
}
.header__wrapper__burgermenu__close {
  position: absolute;
  top: 2rem;
  right: 2rem;
  height: 85px;
  width: 85px;
  cursor: pointer;
}
.header__wrapper__burgermenu__close svg path {
  fill: white;
  transition: 300ms;
}
.header__wrapper__burgermenu__nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.header__wrapper__burgermenu__nav a {
  font-size: 2.25rem;
  color: white;
  text-decoration: none;
  margin-bottom: 3rem;
}
.header__wrapper__burgermenu__nav a:hover {
  color: #ffca9f;
}
.section {
  padding: 160px 2rem;
}
@media (max-width: 768px) {
  .section {
    padding: 80px 2rem;
  }
}
.section.fullwidth {
  padding: 0;
  padding-bottom: 160px;
}
.section.nopadding {
  padding-top: 0;
  padding-bottom: 80px;
}
@media (max-width: 1025px) {
  .section.desktop {
    display: none;
  }
}
.section.mobile {
  display: none;
}
@media (max-width: 1025px) {
  .section.mobile {
    display: block;
  }
}
.link {
  font-size: 26px;
  line-height: 26px;
  text-align: center;
  padding: 12px 30px;
  border: 2px solid black;
  border-radius: 200px;
  color: black;
  text-decoration: none;
  transition: 200ms ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
.link svg {
  margin-left: 1rem;
}
@media (max-width: 768px) {
  .link {
    font-size: 21px;
    line-height: 21px;
  }
}
.link.small {
  font-size: 16px;
}
.link.nav {
  padding: 0.625rem 1.5rem 0.375rem;
  font-size: 1.5rem;
  transform: scale(1.1);
  transform-origin: center;
}
@media (max-width: 1900px) {
  .link.nav {
    transform: scale(1);
  }
}
@media (max-width: 1670px) {
  .link.nav {
    transform: scale(0.9);
  }
}
.link.nohover:hover {
  border-color: black;
  background: #ffca9f;
  color: black;
}
.link:hover {
  border-color: #ffca9f;
  background: #ffca9f;
  color: black;
}
.link.white {
  border: 2px solid white;
  color: white;
}
.link.white:hover {
  border-color: #ffca9f;
  background: #ffca9f;
  color: black;
}
.link.blue {
  border: 2px solid #0000F0;
  color: #0000F0;
}
.link.blue:hover {
  border-color: #ffca9f;
  background: #ffca9f;
  color: black;
}
.link.active {
  border-color: #ffca9f;
  background: #ffca9f;
  color: black;
}
a {
  color: #0000F0;
  transition: 200ms ease-in-out;
}
a:hover {
  color: rgba(0, 0, 240, 0.7);
}
.icon {
  width: 23px;
  height: 23px;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  margin-left: 1rem;
}
.icon.external {
  background-image: url('img/2-click-out-of-webpage-button.svg');
}
@media (max-width: 768px) {
  .icon {
    width: 45px;
  }
}
.hero {
  background: #0000F0;
  color: white;
  position: relative;
}
.hero__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('img/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
}
.hero__wrapper {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
@media (max-width: 1080px) {
  .hero__wrapper {
    flex-direction: column;
    justify-content: flex-start;
  }
}
.hero__wrapper__left {
  margin-right: 50px;
  width: 50%;
}
.hero__wrapper__left__title {
  font-size: 41px;
  line-height: 47px;
  max-width: 420px;
}
.hero__wrapper__left__subtitle {
  font-size: 24px;
  line-height: 32px;
  max-width: 420px;
  font-family: AinoRegular;
  margin-top: 2rem;
}
@media (max-width: 1080px) {
  .hero__wrapper__left {
    margin-right: 0;
    margin-bottom: 50px;
    width: 100%;
  }
  .hero__wrapper__left__title {
    max-width: 100%;
  }
}
.hero__wrapper__right {
  width: 50%;
}
.hero__wrapper__right__text {
  font-size: 18px;
  line-height: 36px;
  margin-bottom: 2rem;
}
.hero__wrapper__right__text strong {
  font-weight: bold;
}
.hero__wrapper__right__buttons {
  display: flex;
  margin-top: 6rem;
}
@media (max-width: 570px) {
  .hero__wrapper__right__buttons {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 4rem;
  }
}
.hero__wrapper__right__buttons__button:first-child {
  margin-right: 3rem;
}
@media (max-width: 570px) {
  .hero__wrapper__right__buttons__button:first-child {
    margin: 0;
    margin-bottom: 1.4rem;
  }
}
@media (max-width: 1080px) {
  .hero__wrapper__right {
    width: 100%;
  }
}
.images {
  background-color: #00005A;
  padding: 60px 2rem;
}
.images__wrapper {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.images__wrapper__images {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
@media (max-width: 1280px) {
  .images__wrapper__images {
    flex-wrap: wrap;
  }
}
@media (max-width: 720px) {
  .images__wrapper__images {
    flex-direction: column;
  }
}
.images__wrapper__images__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33%;
  height: 290px;
  margin-right: 1rem;
}
.images__wrapper__images__wrapper:last-child {
  margin-right: 0;
}
@media (max-width: 1280px) {
  .images__wrapper__images__wrapper {
    margin-bottom: 1rem;
    width: 45%;
  }
}
@media (max-width: 720px) {
  .images__wrapper__images__wrapper {
    width: 100%;
    margin-right: 0;
    margin-bottom: 3rem;
    max-width: 500px;
  }
}
.images__wrapper__images__wrapper__image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  margin-bottom: 2rem;
}
.images__wrapper__images__wrapper__text {
  text-align: center;
  font-size: 20px;
  line-height: 25px;
  color: white;
}
.images__wrapper__images__wrapper:nth-child(1) div {
  background-image: url('img/image_1.png');
}
.images__wrapper__images__wrapper:nth-child(2) div {
  background-image: url('img/image_2.png');
}
.images__wrapper__images__wrapper:nth-child(3) div {
  background-image: url('img/image_3.png');
}
.images__wrapper__buttons {
  display: flex;
  margin-top: 8rem;
}
@media (max-width: 570px) {
  .images__wrapper__buttons {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
  }
}
.images__wrapper__buttons__button:first-child {
  margin-right: 3rem;
}
@media (max-width: 570px) {
  .images__wrapper__buttons__button:first-child {
    margin: 0;
    margin-bottom: 1.4rem;
  }
}
.bubbles__wrapper {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.bubbles__wrapper__title {
  font-size: 41px;
  line-height: 47px;
  text-align: center;
  max-width: 864px;
}
.bubbles__wrapper__title strong {
  font-weight: bold;
}
@media (max-width: 768px) {
  .bubbles__wrapper__title {
    font-size: 26px;
    line-height: 30px;
  }
}
.bubbles__wrapper__row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 8rem 0;
  margin-bottom: 0;
}
@media (max-width: 768px) {
  .bubbles__wrapper__row {
    margin: 4rem 0;
    margin-bottom: 0;
  }
}
.bubbles__wrapper__row__bubble {
  margin: 10px;
  width: 225px;
  height: 225px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  border-radius: 50%;
  transition: 200ms ease-in-out;
  cursor: default;
  background-image: url("img/Circle.svg");
  background-size: 100%;
  background-repeat: no-repeat;
}
.bubbles__wrapper__row__bubble img {
  margin-bottom: 1rem;
  margin-top: -1rem;
}
@media (max-width: 768px) {
  .bubbles__wrapper__row__bubble {
    width: 175px;
    height: 175px;
  }
}
.bubbles__wrapper__row__bubble__text {
  font-size: 26px;
  line-height: 30px;
  color: black;
}
@media (max-width: 768px) {
  .bubbles__wrapper__row__bubble__text {
    font-size: 20px;
    line-height: 23px;
  }
}
@media (max-width: 1280px) {
  .bubbles__wrapper__row__bubble {
    margin-bottom: 20px;
  }
}
.bubbles__wrapper__row__bubble.purple {
  border-color: #5628ED;
}
.bubbles__wrapper__row__bubble.green {
  border-color: #57C981;
}
.bubbles__wrapper__row__bubble.yellow {
  border-color: #E6C45A;
}
.bubbles__wrapper__row__bubble.red {
  border-color: #D14864;
}
.bubbles__wrapper__row__bubble.blue {
  border-color: #23C4F8;
}
.bubbles__wrapper__row__bubble.grey {
  background-image: url("img/Circle-Grey.svg");
}
.bubbles__wrapper__row__bubble.orange {
  border-color: #FFCA9F;
}
.bubbles__wrapper__row__bubble.pink {
  background-image: url("img/Circle-Pink.svg");
}
.bubbles__wrapper__row__bubble.teal {
  background-image: url("img/Circle-Teal.svg");
}
.why {
  background: #00005A;
  color: white;
}
.why__wrapper {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
@media (max-width: 1280px) {
  .why__wrapper {
    flex-direction: column;
    justify-content: flex-start;
  }
}
.why__wrapper__left {
  margin-right: 150px;
  max-width: 415px;
}
.why__wrapper__left__title {
  font-size: 41px;
  line-height: 50px;
}
@media (max-width: 768px) {
  .why__wrapper__left__title {
    font-size: 31px;
    line-height: 41px;
  }
}
@media (max-width: 1280px) {
  .why__wrapper__left {
    margin-right: 0;
    margin-bottom: 50px;
  }
}
.why__wrapper__right {
  flex: 1;
}
.why__wrapper__right__text {
  margin-bottom: 18px;
  font-size: 24px;
  line-height: 36px;
}
@media (max-width: 768px) {
  .why__wrapper__right__text {
    font-size: 16px;
    line-height: 26px;
  }
}
.why__wrapper__right__list {
  padding-left: 33px;
}
.why__wrapper__right__list__item {
  list-style-type: none;
  margin-bottom: 18px;
  font-size: 18px;
  line-height: 24px;
  color: white;
  position: relative;
}
@media (max-width: 768px) {
  .why__wrapper__right__list__item {
    font-size: 16px;
    line-height: 26px;
  }
}
.why__wrapper__right__list__item::before {
  content: '';
  position: absolute;
  top: 7px;
  left: -30px;
  width: 9px;
  height: 9px;
  background-image: url('img/5-plus-tick-list.svg');
  background-repeat: no-repeat;
  background-position: center;
}
.footer {
  background: #0000F0;
  color: white;
}
.footer__wrapper {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer__wrapper img {
  margin: 0 auto;
  margin-bottom: 3rem;
}
.footer__wrapper__title {
  font-size: 32px;
  line-height: 36px;
  text-align: center;
  max-width: 1154px;
}
.footer__wrapper__title a {
  color: white;
}
@media (max-width: 768px) {
  .footer__wrapper__title {
    font-size: 31px;
    line-height: 41px;
  }
}
.flags {
  background: white;
  color: black;
}
.flags__wrapper {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flags__wrapper__title {
  font-size: 41px;
  line-height: 47px;
  text-align: center;
  max-width: 864px;
  margin-bottom: 4rem;
}
@media (max-width: 768px) {
  .flags__wrapper__title {
    font-size: 31px;
    line-height: 41px;
  }
}
.flags__wrapper__image {
  width: 100%;
  height: auto;
  max-width: 550px;
}
.flags__wrapper__image img {
  width: 100%;
}
.flags__wrapper__image.logos {
  margin-top: 2rem;
}
.flags__wrapper__button {
  margin-top: 6rem;
}
.pricing__wrapper {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.pricing__wrapper__title {
  font-size: 41px;
  line-height: 47px;
  text-align: center;
  max-width: 864px;
  margin-bottom: 6rem;
}
@media (max-width: 768px) {
  .pricing__wrapper__title {
    font-size: 31px;
    line-height: 41px;
  }
}
.pricing__wrapper__row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 854px;
}
@media (max-width: 930px) {
  .pricing__wrapper__row {
    flex-direction: column;
  }
}
.pricing__wrapper__row.top {
  margin-bottom: 6rem;
  padding-bottom: 6rem;
  border-bottom: 1px solid #CCC;
}
.pricing__wrapper__row__col {
  position: relative;
  background-color: #ECECEC;
  padding: 3rem 4rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 320px;
  min-width: 323px;
  margin-right: 1rem;
}
@media (max-width: 930px) {
  .pricing__wrapper__row__col {
    min-width: 100%;
    margin-right: 0;
    margin-bottom: 4rem;
  }
}
.pricing__wrapper__row__col.left {
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  height: auto;
}
.pricing__wrapper__row__col__label {
  position: absolute;
  top: -35px;
  right: -35px;
  height: 98px;
  width: 98px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid #0000F0;
  color: black;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 13px;
  line-height: 15px;
  font-weight: bold;
}
@media (max-width: 930px) {
  .pricing__wrapper__row__col__label {
    right: -15px;
  }
}
.pricing__wrapper__row__col__label.leftLabel {
  left: -35px;
  right: initial;
}
@media (max-width: 930px) {
  .pricing__wrapper__row__col__label.leftLabel {
    left: -15px;
  }
}
.pricing__wrapper__row__col:last-child {
  margin-right: 0;
  flex: 1;
}
@media (max-width: 930px) {
  .pricing__wrapper__row__col:last-child {
    margin-bottom: 0;
  }
}
.pricing__wrapper__row__col.blue {
  background: #0000F0;
  color: white;
}
.pricing__wrapper__row__col__top__title {
  font-size: 21px;
  line-height: 32px;
  text-align: center;
  max-width: 352px;
}
.pricing__wrapper__row__col__top__title.wide {
  max-width: 100%;
  text-align: left;
}
.pricing__wrapper__row__col__top__bigtitle {
  font-size: 24px;
  line-height: 32px;
  font-weight: bold;
  text-align: center;
}
.pricing__wrapper__row__col__top__bigtitle.wide {
  max-width: 100%;
  text-align: left;
  margin: 2rem 0;
}
.pricing__wrapper__row__col__top__subtitle {
  font-size: 18px;
  line-height: 18px;
  text-align: center;
}
.pricing__wrapper__row__col__top__subtitle.wide {
  max-width: 100%;
  text-align: left;
}
.pricing__wrapper__row__col__top__link {
  display: block;
  margin-top: 2rem;
  color: black;
  font-size: 20px;
  font-weight: bold;
}
.pricing__wrapper__row__col__top__link svg {
  margin-left: 0.6rem;
}
.pricing__wrapper__row__col__bottom__price {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  text-align: center;
}
.pricing__wrapper__row__col__bottom__price.wide {
  max-width: 100%;
  text-align: left;
  margin-top: 3rem;
}
.pricing__wrapper__row__col__bottom__price span {
  font-size: 21px;
  line-height: 21px;
  font-weight: normal;
}
.pricing__wrapper__row__col__bottom__button {
  display: block;
  width: 154px;
  text-align: center;
  margin: 0 auto;
  margin-top: 1rem;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  text-decoration: none;
  padding: 6px 12px;
  color: black;
  border-radius: 75px;
  border: 1px solid black;
}
.pricing__wrapper__row__col__bottom__button:hover {
  color: white;
  background-color: black;
}
.pricing__wrapper__row__col__bottom__button.wide {
  margin: 0;
  margin-top: 1rem;
}
.pricing__wrapper__row__col__bottom__button.blue {
  color: white;
  border-color: white;
}
.pricing__wrapper__row__col__bottom__button.blue:hover {
  color: black;
  background-color: white;
}
.contact__wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.contact__wrapper__title {
  font-size: 41px;
  line-height: 47px;
  text-align: center;
  max-width: 864px;
}
@media (max-width: 768px) {
  .contact__wrapper__title {
    font-size: 31px;
    line-height: 41px;
  }
}
.contact__wrapper__rows {
  margin-top: 4rem;
  width: 100%;
}
.contact__wrapper__rows__row {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 444px;
}
@media (max-width: 980px) {
  .contact__wrapper__rows__row {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
  }
}
@media (max-width: 980px) {
  .contact__wrapper__rows__row:last-child {
    flex-direction: column-reverse;
  }
}
.contact__wrapper__rows__row__image {
  width: 40%;
  background: #323334;
  height: 100%;
  background-image: url('img/Exhibitor-booth-picture.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (max-width: 980px) {
  .contact__wrapper__rows__row__image {
    width: 100%;
    height: 214px;
  }
}
.contact__wrapper__rows__row__image:last-child {
  background-image: url('img/pic.png');
}
.contact__wrapper__rows__row__text {
  flex: 1;
  background: #FFCA9F;
  padding: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
}
@media (max-width: 980px) {
  .contact__wrapper__rows__row__text {
    padding: 4rem;
    width: 100%;
  }
}
.contact__wrapper__rows__row__text.blue {
  background: #D2C3D4;
}
.contact__wrapper__rows__row__text__title {
  font-size: 30px;
  line-height: 36px;
  font-family: AinoBold;
  margin-bottom: 3rem;
  max-width: 550px;
}
.contact__wrapper__button {
  margin-left: 6.4rem;
  margin-top: 2rem;
}
.contact__wrapper__footer {
  font-size: 26px;
  line-height: 40px;
  margin-top: 7rem;
  text-align: center;
  padding: 0 2rem;
}
@media (max-width: 768px) {
  .contact__wrapper__footer {
    font-size: 21px;
    line-height: 30px;
  }
}
